@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 60px;
}

.main_header {
    background-color: #141024;
    color: white;
}

.wrapper_1 {
    width: 1720px;
    margin: 0 auto;
}

.wrapper_2 {
    width: 1160px;
    margin: 0 auto;
}

.main_header > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.main_header > div:first-child nav {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;
}

.main_header > div:first-child nav i {
    display: none;
}

.main_header > div:first-child > p:first-child{
    font-size: 30px;
    font-weight: 700;
}

.main_header > div:first-child > p:nth-child(3){
    font-size: 30px;
    font-weight: 600;
}

.main_header .header_icons {
    /* display: flex; */
    gap: 10px;
    display: none;
}

.main_header .header_icons i {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

.main_header > div:last-child {
    display: flex;
    justify-content: space-between;
}

.main_header > div:last-child > div:first-child {
    padding-top: 236px;
}

.main_header > div:last-child > div:first-child p {
    font-size: 20px;
    margin: 20px 0 50px 0;
    line-height: 32px;
    width: 450px;
}

.main_header .apply_btn {
    background-color: #D52027;
    font-size: 18px;
    padding: 25px 54px;
    border-radius: 5px;
    cursor: pointer;
    width: 260px;
}

.main_header > div:last-child > div:last-child {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.main_header > div:last-child > div:last-child > img {
    z-index: 10;
}

.main_header > div:last-child > div:last-child > div {
    border: 80px solid white;
    border-radius: 50%;
    width: 783px;
    height: 783px;
    position: absolute;
    bottom: 35px;
}

#about_school {
    padding: 120px 0;
}

#about_school > div {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#about_school > div > p {
    font-size: 30px;
    line-height: 48px;
    width: 880px;
}

#about_school > div > p span {
    font-weight: 600;
}

#about_school .info_cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#about_school .info_cards_container > div > p:first-child {
    font-size: 70px;
    color: #D52027;
    font-weight: 600;
}

#about_school .info_cards_container > div > p:last-child {
    font-size: 18px;
    color: #141024B2;
    line-height: 29px;
    width: 260px;
}

#benefits {
    background-color: #F9F9F9;
    padding: 100px 0;
}

#benefits .benefits_cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#benefits .benefits_cards_container > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* #benefits .benefits_cards_container > div span {
    background-color: #14102414;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#benefits .benefits_cards_container > div p:first-child {
    font-size: 24px;
    font-weight: 600;
}

#benefits .benefits_cards_container > div p:last-child {
    font-size: 18px;
    line-height: 29px;
    color: #141024B2;
    width: 345px;
}

#teachers {
    padding: 120px 0;
}

#teachers .teachers_cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#teachers .teachers_cards_container > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#teachers .teachers_cards_container > div p:nth-child(2) {
    color: #141024;
    font-size: 24px;
    font-weight: 600;
}

#teachers .teachers_cards_container > div p:nth-child(3) {
    font-size: 18px;
    color: #141024B2;
}

#teachers .teachers_cards_container > div span {
    font-size: 18px;
    color: #D52027;
    cursor: pointer;
}

#teachers .teacher_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 150;
}

#teachers .teacher_modal.modal_active {
    display: flex;
}

#teachers .teacher_modal_content {
    background-color: white;
    border-radius: 20px;
    width: 940px;
    padding: 40px;
    position: relative;
}

#teachers .teacher_modal_content span {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #141024B2;
}

#tariffs .tariffs_cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 460px;
    gap: 40px;

    padding: 20px 0;
}

#tariffs .tariffs_cards_container > div {
    border: 1px solid #14102433;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #141024;
}

#tariffs .tariffs_cards_container > div:hover {
    background-color: #141024;
    color: white;
    transform: scale(1.07);
}

#tariffs .tariffs_cards_container > div p:first-child {
    font-size: 30px;
    font-weight: 600;
}

#tariffs .tariffs_cards_container > div p:nth-child(2) {
    font-size: 50px;
    font-weight: 600;
}

#tariffs .tariffs_cards_container > div p:nth-child(3) {
    font-size: 18px;
    text-align: center;
}

#tariffs .tariffs_cards_container > div > div {
    color: white;
    background-color: #D52027;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    padding: 25px;
    width: 280px;
    cursor: pointer;
}

@media(max-width: 850px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .wrapper_1, 
    .wrapper_2 {
        width: 300px;
    }

    .main_header > div:first-child > p:first-child {
        font-size: 18px;
    }

    .main_header .header_icons {
        display: flex;
    }

    .main_header > div:first-child nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #141024;
        top: 0;
        left: 0;
        width: 100%;
        height: 568px;
        font-size: 30px;
        font-weight: 600;
        align-items: center;
        z-index: 100;
    }

    .main_header > div:first-child nav.menu_active {
        display: flex;
    }

    .main_header > div:first-child nav i {
        display: flex;
        border: 1px solid white;
        border-radius: 10px;
        padding: 7px 10px;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .main_header > div:first-child > p:nth-child(3) {
        display: none;
    }

    .main_header > div:last-child {
        flex-direction: column;
        padding: 17px 0 40px 0;
    }

    .main_header > div:last-child > div:first-child {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main_header > div:last-child > div:first-child p {
        font-size: 16px;
        text-align: center;
        width: 245px;
    }

    .main_header > div:last-child > div:last-child > img {
        width: 180px;
        height: 320px;
        object-fit: contain;
    }

    .main_header > div:last-child > div:last-child > div {
        border: 28px solid white;
        width: 273px;
        height: 273px;
    }

    #about_school {
        padding: 60px 0;
    }

    #about_school > div > p {
        font-size: 20px;
        width: 300px;
        line-height: 32px;
    }

    #about_school .info_cards_container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }
    
    #about_school .info_cards_container > div > p:first-child {
        font-size: 60px;
        width: 260px;
    }

    #about_school .info_cards_container > div > p:last-child {
        font-size: 16px;
        width: 260px;
    }

    #benefits{
        padding: 40px 0;
        text-align: center;
    }

    #benefits .benefits_cards_container {
        grid-template-columns: 1fr;
    }

    #benefits .benefits_cards_container > div p:first-child {
        font-size: 20px;
    }

    #benefits .benefits_cards_container > div p:last-child {
        font-size: 16px;
        width: 100%;
    }

    #teachers {
        padding: 60px 0;
    }

    #teachers .teachers_cards_container {
        grid-template-columns: 1fr;
    }
}